* {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.div-logo {
  position: relative;
  margin: 0 auto 5px auto;
  padding-top: 100px;
  width: 275px;
}

img.logo {
  display: block;
  width: 275px;
}

input {
  font-size: 14px;
  display: block;
  margin: auto;
  padding: 10px 15px;
  width: 45%;
  background-color: white;
  border: 1px solid #C9C9C9;
  box-shadow: 0px 2px 2px #DFDFDF;
}

input:hover, input:focus {
  box-shadow: 0px 4px 8px #DFDFDF;
}

.search-buttons {
  text-align: center;
}

.button1 {
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px;
  padding: 10px 8px;
  width: 11%;
  height: 10%;
  background-color: #F5F5F5;
  color: #757575;
  border: 1px solid #F4F4F4;

  -moz-border-radius: 2px;
  border-radius: 2px;
}

.button1:hover {
  background-color: #f9f9f9;
  color: #202020;
  border: 1px solid #aaa;
}

.button1:focus {
  border: 1px solid #4485F4;
}

.navbar-top {
  margin-right: 3px;
  margin-top: 8px;
}

.navbar-top img {
  width: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.navbar-top li {
  float: right;
}

.navbar-top li a {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #555;
  padding: 2px;
  margin: 7px;
}

.top-links {
  margin-top: 8px;
}

li a:hover {
  text-decoration: underline;
}

.button2 { /*-- Sign in button */
  color: white;
  background-color: #4485F4;
  font-size: 13.5px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  margin-right: 20px;
  padding: auto 12px;
  width: 70px;
  height: 30px;

  -mox-border-radius: 2px;
  border-radius: 2px;
}

.button1:hover {
  box-shadow: 0 2px 4px #DFDFDF;
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F2F2F2;
  border-top: 1px solid #E4E4E4;
}

.navbar-bottom a {
  color: #666666;
  padding: 10px 13px;
}

.left-links, .right-links{
  display: inline;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.left-links li {
  float: left;
  margin-left: 10px;
}

.right-links li {
  float: right;
  margin-right: 10px;
}
